
     <!-- views/partials/footer.ejs -->
     
     <footer class="site-footer" style="background-color:aliceblue;">
            <div class="container" >
            <div class="row" >
                <div class="col-sm widget footer-widget widget_text" style="margin-top:1em;">
                    <h4 class="widgettitle">About Our Fellowship</h4>
                    <hr>
                    <div class="textwidget">
                    <p>
                    <img src="/images/logo.png"
                    alt="Logo">
                    </p>
                    <p>25 First Avenue, Gwarinpa, Abuja - Nigeria.
                            
                            +234 (0) 907 2727 256, +234 (0) 907 8454 444.
                            
                            info@mspraises.org</p>
                    </div>
                  </div>
                  <div class="col-sm widget footer-widget widget_nav_menu align-content-center" style="margin-top:1em;">
                      <h4 class="widgettitle">BlogRoll</h4>
                      <hr>
                      <div class="menu-footer-menu-container">
                      <ul id="menu-footer-menu" class="menu"  style="list-style-type: none;" >
                      <li id="menu-item-930" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-813 current_page_item menu-item-930">
                      <a href="/" >Home</a>
                    </li>
                    <hr>
                      <li id="menu-item-931" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-931">
                    <form action="/about" method="GET">
                            <a href="/pages/about">About Us</a>  </form> 
                      </li>
                      <hr>
                      <li id="menu-item-932" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-932">
                      <a href="">All Events</a>
                      </li>
                      <hr>
                     
                      <li id="menu-item-934" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-934">
                      <a href="">Our Blog</a>
                      </li>
                     
                      </ul>
                      </div>
                  </div>
                  <div class="col-sm  widget footer-widget widget_twitter_feeds" style="margin-top:1em;">
                      <h4 class="widgettitle" style="text-transform:initial">Our Fellowship on Facebook</h4>
                      <hr>
                      <ul  style="list-style-type: none;" >
                      <li>
                      <a href="https://www.facebook.com/MSPraises/" target="_blank"> 
                        <i class="fa fa-facebook"></i> <span> Services every Friday by : </span></a>
                       <span class="date">6PM</span>
                      </li>
                      <li>
                        Greetings 105.7fm
                      <a href="" target="_blank"></a>
                    
                      </li>
                      </ul>
                  </div>
            </div>
            </div>
            </footer>
            <div class="w-100"></div>
            <footer class="site-footer-bottom" style="background-color:blue">
                <div class="container" >
                    <div class="row" >
                        <div class="col-sm widget footer-widget widget_text" style="margin-top:1em;">
                          
              <div class="row">
                  <div class="copyrights-col-left  col-md-6 col-sm-6" style="color:white">
                      <p>&copy; 2018 Ministry of Songs and Praise. All Rights Reserved</p>
                    </div>
                    <div class="copyrights-col-right col-md-6 col-sm-6">
                    <div class="social-icons" >
                    <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa fa-facebook m-2" ></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank">
                    <i class="fa fa-twitter m-2"></i>
                    </a>
                  
                    <a href="http://youtube.com/" target="_blank">
                    <i class="fa fa-youtube m-2"></i>
                    </a>
                    <a href="http://instagram.com/" target="_blank">
                    <i class="fa fa-instagram m-2"></i>
                    </a>
                  
                    </div>
                    </div>
                  
              </div>
              </div>
              </div>
              </div>
             
          </footer>
         