
     <!-- views/partials/header.ejs -->
     
            <div id="banner">
            <div class="container-fluid">
            <div class="page-header">
            <div class="row ">
            <div class="col-8 "> <h1>
                <a> <img src="/images/logo.png" class="img-fluid responsive" alt="logo"></a>
                                    
            </h1>
            
            </div>
            
            </div>
            </div>
            </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light  itemsdiv" id='nav_bar'>
                <a class="navbar-brand" href="#"></a>
                        <button class="navbar-toggler button " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon pull-right"></span>
                        </button>
                        <div class="collapse navbar-collapse navigation align-content-center" id="navbarNav">
                          
                          <ul class="navbar-nav navbar-right  nav nav_links">
                              <li class="nav-item active">
                                  <form action="" method="GET">
                                      <a class="nav-link" href="/">
                                      Home
                                      </a>
                                </form>   </li>
                          <!--  <li class="nav-item active dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Home<span class="sr-only">(current)</span>
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/pages/about">About</a>
                                <a class="dropdown-item" href="#">Music</a>
                              
                            </li> -->
                            <li class="nav-item">
                                <form action="/events" method="GET">
                                    <a class="nav-link" href="/pages/events">
                                      Events
                                    </a>
                              </form>   </li>
                            <li class="nav-item">
                                <form action="/gallery" method="GET">
                              <a class="nav-link" href="/pages/gallery">Gallery</a>
                              </form>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Blog</a>
                            </li>
                            <li class="nav-item dropdown">
                              
                              <a class="nav-link dropdown-toggle" href="/pages/partnership" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Partnership
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                   <a class="dropdown-item" href="/pages/partnership">Partnership</a> 
                                   <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/pages/education">Education</a>
                                <a class="dropdown-item" href="/pages/medical">Medicals</a>
                                <a class="dropdown-item" href="/pages/vocation">Voc. Training</a>
                                <a class="dropdown-item" href="/pages/empowerment">Empowerment</a>
                              
                                <a class="dropdown-item" href="/pages/counseling">Counseling</a>
                                  </div>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/pages/contactform">Contact Us</a>
                            </li>
                           
                          </ul>
                                 
                        </div>
                      </nav>
         
              
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/jquery.flexslider-min.js"></script>
  

         