<!doctype html>
<html lang="en">
  <head>
      <% include ./partials/head %>
      
 <title>AboutUs</title>
 
</head>

<body>
  
<header>
        <% include ./partials/header %>
</header>
<div class="container-fluid">
    <div class="row ">
        <div class="col">
            
        </div>

      <div class="w-100"></div>
        <div class="col" id="adiv"><h2 class="offset-md-2 "style="">About US</h2></div>
       </div>
   <div class="row justify-content-center">
       
  
      <div class="col-8 card-columns">
          <div class="card" id="txt">
            <img class="card-img-top" src="/images/img4.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" id="wtxt">Our vision</h5>
              <p class="card-text" id="rcorners">
                
                      To glorify GOD with songs and praises by raising a generation of worshipers
                      from all nations,tribe & tongue.
                  
                  </p>
            </div>
          </div>
       
          <div class="card offset-3"id="txt">
            <img class="card-img-top" src="/images/img5.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"  id="wtxt">Our Mission</h5>
              <p class="card-text" id="rcorners"> Committed to true worship of GOD in songs
                  and praises, winning souls to Jesus Christ
                   and reaching out to the less privileged.</p>
            </div>
          </div>
       
   
         
   
       
      </div>
</div>
<footer style="margin-top:4em;">
        <% include ./partials/footer %>
    </footer>
 
</body>

</html>