<!doctype html>
<html lang="en">
  <head>
      <% include ./partials/head %>
      
 <title>Events</title>
 
<</head>

<body>
  
<header>
        <% include ./partials/header %>
              
        <p id="static" >  <img class="img-fluid" src="/images/events.png" alt="Second slide">
        </p>
        
</header>
<div class="container-fluid">
    <div class="row ">
        <div class="col">
            
        </div>

      <div class="w-100"></div>
        <div class="col" id="adiv"><h2 class="offset-md-2 "style="">Events</h2></div>
       </div>

       <div class="row justify-content-center" id="cardrow">
        <div class="card-columns col-8">
            <div class="card">
              <img class="card-img-top" src="/images/msp1i.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Making melodies</h5>
                <p class="card-text">Ephesians 5:20
                        Giving thanks always for all things unto God 
                        and the Father in the name of our Lord Jesus Christ;</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-calendar iconli" > &nbspFriday,</i> August 31, 2018</li>
                <li class="list-group-item"><i class="fa fa-clock-o" >&nbsp</i>6:00pm</li>
                 <li class="list-group-item"><i class="fa fa-map-marker">&nbsp</i>Gwarinpa</li>
              </ul>
            </div>
        
            <div class="card">
              <img class="card-img-top" src="/images/msp2.png" alt="Card image cap">
              <div class="card-body">
                    <h5 class="card-title">His praises continually in my mouth</h5>
                    <p class="card-text">
                            Psalm 33:21
                            For our heart shall rejoice in him,
                             because we have trusted in his holy name.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa fa-calendar iconli" > &nbspFriday,</i> September 8, 2018</li>
                        <li class="list-group-item"><i class="fa fa-clock-o" >&nbsp</i>6:00pm</li>
                         <li class="list-group-item"><i class="fa fa-map-marker">&nbsp</i>Gwarinpa</li>
                      </ul>    
            
            </div>
            <div class="card">
                    <img class="card-img-top" src="/images/msp3.png" alt="Card image cap">
                    <div class="card-body">
                          <h5 class="card-title">His praises continually in my mouth</h5>
                          <p class="card-text">
                                  Psalm 33:21
                                  For our heart shall rejoice in him,
                                   because we have trusted in his holy name.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                              <li class="list-group-item"><i class="fa fa-calendar iconli" > &nbspFriday,</i> September 8, 2018</li>
                              <li class="list-group-item"><i class="fa fa-clock-o" >&nbsp</i>6:00pm</li>
                               <li class="list-group-item"><i class="fa fa-map-marker">&nbsp</i>Gwarinpa</li>
                            </ul>   
            </div>
            <div class="card">
                    <img class="card-img-top" src="/images/msp4.png" alt="Card image cap">
                    <div class="card-body">
                          <h5 class="card-title">His praises continually in my mouth</h5>
                          <p class="card-text">
                                  Psalm 33:21
                                  For our heart shall rejoice in him,
                                   because we have trusted in his holy name.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                              <li class="list-group-item"><i class="fa fa-calendar iconli" > &nbspFriday,</i> September 8, 2018</li>
                              <li class="list-group-item"><i class="fa fa-clock-o" >&nbsp</i>6:00pm</li>
                               <li class="list-group-item"><i class="fa fa-map-marker">&nbsp</i>Gwarinpa</li>
                            </ul>   
            </div>
         
            <div class="card">
                    <img class="card-img-top" src="/images/msp5.png" alt="Card image cap">
                    <div class="card-body">
                          <h5 class="card-title">Live concert!!</h5>
                          <p class="card-text">
                                  Psalm 33:21
                                  For our heart shall rejoice in him,
                                   because we have trusted in his holy name.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                              <li class="list-group-item"><i class="fa fa-calendar iconli" > &nbspFriday,</i> September 8, 2018</li>
                              <li class="list-group-item"><i class="fa fa-clock-o" >&nbsp</i>6:00pm</li>
                               <li class="list-group-item"><i class="fa fa-map-marker">&nbsp</i>Gwarinpa</li>
                            </ul>   
            </div>
            <div class="card">
                    <img class="card-img-top" src="/images/msp6.png" alt="Card image cap">
                    <div class="card-body">
                          <h5 class="card-title">His praises continually in my mouth</h5>
                          <p class="card-text">
                                  Psalm 33:21
                                  For our heart shall rejoice in him,
                                   because we have trusted in his holy name.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                              <li class="list-group-item"><i class="fa fa-calendar iconli" > &nbspFriday,</i> September 8, 2018</li>
                              <li class="list-group-item"><i class="fa fa-clock-o" >&nbsp</i>6:00pm</li>
                               <li class="list-group-item"><i class="fa fa-map-marker">&nbsp</i>Gwarinpa</li>
                            </ul>   
            </div>
           
       
            </div>
          </div>
          </div>
          <footer style="margin-top:4em;">
                <% include ./partials/footer %>
            </footer>
          </body>
          </html>
     

