<!doctype html>
<html lang="en">
<head>
        <% include ./partials/head %>
        
<title>Partnership</title>
</head>

<body>

<header style="margin-bottom:1em;">
<% include ./partials/header %>

<p id="static" >  <img class="img-fluid" src="/images/partnershipbanner.png" alt="Second slide">
</p>
<div class="row justify-content-center" id="pdiv" style="background-color:whitesmoke">

<div class="col-12 col-md-9"  >
<h3><p > Medical</p> </h3>  
</div>
</div>
</header>
<div class="container-fluid" style="margin-top:4em">
<div class="row justify-content-center" >
    <div class="col-12 col-md-6">
        <div class="row">
            <div class="col-12" id="date" style="background-color:whitesmoke; padding:0.5em 1.5em ; "> </div>
            </div>
    </div>
    <div class="col-4 col-md-3">     <h4>Post Categories</h4>
    </div>
    <div class="col-12 col-md-6" style=" margin-top:1em;">
        <div class="row">
            <div class="col-12" ><img src="/images/msp.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> 
            </div>
            <div class="w-100"></div>
            <div class="col-12 "   style=" margin-top:1em;" id="partnershipdiv"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.
                 Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, 
                  ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit
                   amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.
                    Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.
                </p>
          <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis
               egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus
                vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur
                 adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis 
                 fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. 
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nulla convallis egestas rhoncus. Donec facilisis fermentum sem,
                   ac viverra ante luctus vel. Donec vel mauris quam.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, 
                    ac viverra ante luctus vel. Donec vel mauris quam.
                
               </p>
               <p  style="margin-top:1em;"> <a href=""
                class="btn btn-primary btn-sm">Donate</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4 col-md-3" style=" margin-top:1em;">
   
            <ul class="list-group list-group-flush" id="ulid" style="height:0.2em; background-color:whitesmoke">
                    <li class="list-group-item"><a href="/pages/education"> Education</a></li>
                    <li class="list-group-item"><a href="/pages/vocation"> Vocation</a></li>
                     <li class="list-group-item"><a href="/pages/empowerment"> Empowerment</a></li>
                     <li class="list-group-item"><a href="/pages/counseling"> Counseling</a></li>
                  </ul> 
    </div>
    <div class="col-12 col-md-6" style="margin-top:3em">
    <div class="row justify-content-center">
  
    </div>
        </div>
        <div class="col-4 col-md-3">    </div>

    <div class="col-12 col-md-6" style=" margin-top:1em;">
        <div class="row">
           <div class="col-12 "   style=" margin-top:1em;" id="partnershipdiv">
                     
                            
            </div>
        </div>
        <div class="col-4 col-md-3" style=" margin-top:1em;">
       </div>

</div>       
</div>
<footer style="margin-top:4em;">
<% include ./partials/footer %>
</footer>
</body>
<script>
    var d = new Date();
    document.getElementById("date").innerHTML = d.toDateString();
    </script>
    
</html>