<!doctype html>
<html lang="en">
<head>
    <% include ./partials/head %>
    
<title>Partnership</title>
</head>

<body>

<header style="margin-bottom:1em;">
<% include ./partials/header %>
<div class="row h-100 justify-content-center" id="pdiv" >

<div class="col-sm-9"  >
<h3><p > Outreach</p> </h3>  
</div>
</div>
</header>
<div class="container-fluid" style="margin-top:4em;">
<div class="row justify-content-center" >
        <div class="col-sm-9" >
              
                <div class="row">
                 
                  <div class="col-8 col-sm-8" >
                    
                    <div class="row" style=" padding:0.5em 1em; text-transform:initial">
                      <p> <h5>Prisons</h5> </p>
                      <span style="text-transform: initial; padding-left:1em;"><i><small> Friday 7, September 2018</small></i>
                      </span> 
                      <hr></div>
                     
                    <div class="row" id="partnershipdiv"style="padding-left:1em; padding-top:0.5em">
                      <p >
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Nulla convallis egesncus. 
                            ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum 
                            dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas 
                          rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus
                           vel. Donec vel mauris quam.... </p>
                     
                     </div>
                   
                </div>
                <div class="col-4 col-sm-4" >
                    <img src="/images/msp.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> 
                    
                </div>

              </div>
              <div class="row" style=" padding-top:5em">
                
                  <div class="col-8 col-sm-8" >
                    
                    <div class="row" style=" padding:0.5em 1em; text-transform:initial">
                      <p><h5>Schools</h5></p>
                     <span style="text-transform: initial; padding-left:1em;"><i><small> Friday 7, September 2018</small></i>
                    </span> 
                    </div>
                   
                    <div class="row" id="partnershipdiv"style="padding-left:1em; padding-top:0.5em">
                      <p >
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Nulla convallis egestas rhoncus. Donec facilisis fermentum sem,
                            ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum 
                            dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas 
                          rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus
                           vel. Donec vel mauris quam.... </p>
                     
                     </div>
                   
                </div>
                <div class="col-4 col-sm-4" >
                    <img src="/images/img6.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> 
                    
                </div>
              </div>

              <div class="row" style=" padding-top:5em">
                 
                  <div class="col-8 col-sm-8" >
                   <div class="row" style=" padding:0.5em 1em; text-transform:initial">
                     <p><h5>Rally</h5></p>
                     <span style="text-transform: initial; padding-left:1em;"><i><small> Friday 7, September 2018</small></i>
                   </span> 
                    </div>
                  
                   <div class="row" id="partnershipdiv"style="padding-left:1em; padding-top:0.5em">
                      <p >
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Nulla convallis egestas rhoncus. Donec facilisis fermentum sem,
                            ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum 
                            dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas 
                          rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus
                           vel. Donec vel mauris quam.... </p>
                     
                     </div>
                   
                </div>
                <div class="col-4 col-sm-4" >
                    <img src="/images/img6.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> 
                    
                </div>
              </div>
     

</div>       
</div>
<footer style="margin-top:4em;">
<% include ./partials/footer %>
</footer>
</body>
</html>