<!doctype html>
<html lang="en">
<head>
        <% include ./partials/head %>
        
<title>Partnership</title>
</head>

<body>

<header style="margin-bottom:1em;">
<% include ./partials/header %>

<p id="static" >  <img class="img-fluid" src="/images/partnershipbanner.png" alt="Second slide">
</p>
<div class="row h-100 justify-content-center" id="pdiv" >
    
    <div class="col-sm-7"  >
    <h3><p > partenrship</p> </h3>  
    </div>
    </div>
          
</header>
<div class="container-fluid" style="margin-top:4em;">
<div class="row justify-content-center" >

<div class="col-sm-7  no-gutters" id="rowpartition">
<div class="row">
<div class="col-sm-12" style="padding-left:2em;">
<p>  <h5 style="margin-bottom:-0.5em;">Education</h5></p>
<span style="text-transform: initial" ><i><small> Education is key</small></i> </span>
<hr>
</div>
<div class="col-8 col-sm-12" >
<div class="row">
<div class="col-sm-4"   style=" padding-top:0em; ">
<img src="/images/img6.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> 
</div>
<div class="col-sm-8" id="partnershipdiv">
<p>Lorem ipsum dolor sit amet, consectetur 
adipiscing elit. Nulla convallis egestas 
sit amet, consectetur adipiscing elit.
Nulla convallis egestas rhoncus.
Donec facilisis fermentum sem, ac
viverra ante luctus vel. Donec vel mauris
quam.Lorem ipsum dolor sit amet, consectetur
</p>
<form action="/education" method="GET">
<p  style="margin-top:1em;"> <a href="/pages/education" class="btn btn-primary btn-sm">Continue Reading</a>
</p></form>
</div>
</div>
</div> 
</div>
</div>
</div>

<div class="row justify-content-center"  style="margin-top:2em;">

<div class="col-sm-7  no-gutters" id="rowpartition">
<div class="row">
<div class="col-sm-12" style="padding-left:2em;">
<p>  <h5 style="margin-bottom:-0.5em;">Medicals</h5></p>
<span style="text-transform: initial" ><i><small> community medicine</small></i> </span>
<hr>
</div>
<div class="col-8 col-sm-12" >
<div class="row">
<div class="col-sm-4"   style=" padding-top:0em; ">
<img src="/images/msp.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> 
</div>
<div class="col-sm-8" id="partnershipdiv">
<p>Lorem ipsum dolor sit amet, consectetur 
adipiscing elit. Nulla convallis egestas 
sit amet, consectetur adipiscing elit.
    Nulla convallis egestas rhoncus.
    Donec facilisis fermentum sem, ac
    viverra ante luctus vel. Donec vel mauris
        quam.Lorem ipsum dolor sit amet, consectetur
</p>
<form action="/medicine" method="GET">
    <p  style="margin-top:1em;"> <a href="/pages/medical"
    class="btn btn-primary btn-sm">Continue Reading</a>
    </p></form>
</div>
</div>
</div> 
</div>
</div>
</div>

<div class="row justify-content-center"  style="margin-top:2em;">

<div class="col-sm-7  no-gutters" id="rowpartition">
<div class="row">
<div class="col-sm-12" style="padding-left:2em;">
<p>  <h5 style="margin-bottom:-0.5em;">Vocational training</h5></p>
<span style="text-transform: initial"><i><small>our participants</small></i> </span>
<hr>
</div>
<div class="col-8 col-sm-12" >
<div class="row">
<div class="col-sm-4"   style=" padding-top:0em; ">
    <img src="/images/msp.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> 
</div>
<div class="col-sm-8" id="partnershipdiv">
        <p>Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit. Nulla convallis egestas 
                sit amet, consectetur adipiscing elit.
                    Nulla convallis egestas rhoncus.
                    Donec facilisis fermentum sem, ac
                    viverra ante luctus vel. Donec vel mauris
                    quam.Lorem ipsum dolor sit amet, consectetur
            </p>
            <form action="/vocational" method="GET">
                <p  style="margin-top:1em;"> <a href="/pages/vocation"
                class="btn btn-primary btn-sm">Continue Reading</a>
                </p></form>
        </div>
</div>
</div> 
</div>
</div>
<div class="row justify-content-center"  style="margin-top:2em;">

    <div class="col-sm-7  no-gutters" id="rowpartition">
        <div class="row">
            <div class="col-sm-12" style="padding-left:2em;">
        <p>  <h5 style="margin-bottom:-0.5em;">Empowerment</h5></p>
            <span style="text-transform: initial" ><i><small>teach me how to fish and i will live for years</small></i> </span>
            <hr>
        </div>
            <div class="col-8 col-sm-12" >
                <div class="row">
                    <div class="col-sm-4"   style=" padding-top:0em; ">
                        <img src="/images/msp.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> 
                    </div>
                    <div class="col-sm-8" id="partnershipdiv">
                            <p>Lorem ipsum dolor sit amet, consectetur 
                                    adipiscing elit. Nulla convallis egestas 
                                    sit amet, consectetur adipiscing elit.
                                        Nulla convallis egestas rhoncus.
                                        Donec facilisis fermentum sem, ac
                                        viverra ante luctus vel. Donec vel mauris
                                        quam.Lorem ipsum dolor sit amet, consectetur
                                </p>
                                <form action="/empowerment" method="GET">
                                    <p  style="margin-top:1em;"> <a href="/pages/empowerment"
                                    class="btn btn-primary btn-sm">Continue Reading</a>
                                    </p></form>
                            </div>
                    </div>
                </div> 
            </div>
            </div>
            <div class="row justify-content-center"  style="margin-top:2em;">
                    
                           <div class="col-sm-7  no-gutters" id="rowpartition">
                                <div class="row">
                                   <div class="col-sm-12" style="padding-left:2em;">
                                <p>  <h5 style="margin-bottom:-0.5em;">Counselling</h5></p>
                                    <span  style="text-transform: initial" ><i><small >with our support you will be fine</small></i> </span>
                                   <hr>
                               </div>
                                  <div class="col-8 col-sm-12" >
                                      <div class="row">
                                          <div class="col-sm-4"   style=" padding-top:0em; ">
                                               <img src="/images/msp.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> 
                                          </div>
                                           <div class="col-sm-8" id="partnershipdiv">
                                                   <p>Lorem ipsum dolor sit amet, consectetur 
                                                           adipiscing elit. Nulla convallis egestas 
                                                           sit amet, consectetur adipiscing elit.
                                                             Nulla convallis egestas rhoncus.
                                                              Donec facilisis fermentum sem, ac
                                                               viverra ante luctus vel. Donec vel mauris
                                                                quam.Lorem ipsum dolor sit amet, consectetur
                                                       </p>
                                                       <form action="/counseling" method="GET">
                                                        <p  style="margin-top:1em;"> <a href="/pages/counseling"
                                                        class="btn btn-primary btn-sm">Continue Reading</a>
                                                        </p></form>
                                                    </div>
                                          </div>
                                        </div> 
                                  </div>
                                  </div>
</div>       
</div>
<footer style="margin-top:4em;">
<% include ./partials/footer %>
</footer>
</body>
</html>